<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Store</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isHome}}
                <li class="active"><a href="/">Home Page</a></li>
            {{else}}
                <li><a href="/">Home Page</a></li>
            {{/if}}

            {{#if isProducts}}
                <li class="active"><a href="/products">Products Page</a></li>
            {{else}}
                <li><a href="/products">Products Page</a></li>
            {{/if}}

            {{#if isAddProduct}}
                <li class="active"><a href="/add-product">Add Product Page</a></li>
            {{else}}
                <li><a href="/add-product">Add Product Page</a></li>
            {{/if}}

            {{#if isCart}}
                <li class="active"><a href="/cart">Cart</a></li>
            {{else}}
                <li><a href="/cart">Cart</a></li>
            {{/if}}

            {{#if isOrder}}
                <li class="active"><a href="/orders">Orders</a></li>
            {{else}}
                <li><a href="/orders">Orders</a></li>
            {{/if}}

        </ul>
    </div>
</nav>